/* General Style */
* {
    margin: 0;
    padding: 0;
    outline: 0;   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #343a40;
}
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

header {
    margin-top: 2rem;
    width: 100%;
    max-height: 15vh;
    /* line-height: 10vh; */
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    word-spacing: 0.3rem;
}

h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 1.2rem;
}
h3 {
    font-size: 1.2rem;
    color: white;
}
section {
    margin-top: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-height: 85vh;
}


/* Overall Game Board Style */

.GameArea {
    width: 80%;
    /* height: 90vh; */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 20px 20px -9px black;
    border-radius: 20px;
    border: 1px solid #f8f9fa;
}

.bestScore {
    margin-top: 2rem;;
}

/* Intial message */
.start {
    font-size: 1.2rem;
    color: #e9ecef;
    transform: translate(0, -30px);
}

.incorrect {
    color: #f05454;
}

.correct {
    color: #6ab547;
}

.life {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #e9ecef;
    transform: translate(0, -30px);
}

/* Input section */
input {
    border: 0;
    outline: 0;
    -webkit-outline: 0;
    background: transparent;
    border-bottom: 1px solid #e9ecef;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: 0; 
    margin: 0 5px;
    text-align: center;
    line-height: 0.9rem;
    font-size: 2rem;
    color: #e9ecef;
    width: 2.2rem;
    transition: all .2s ease-in-out;
}

/* Game Button */
button {
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: 1px solid #e9ecef;
    text-decoration: none;
    /* margin-top: 10px; */
    color: #000;
    border-radius: 500px;
    margin-top: 1.8rem;
}

button.btn {
    font-weight: 600;
    padding: 1rem 2rem;
    background: #e9ecef;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}

button.btn:hover,
button.btn:active,
button.btn:focus {
    letter-spacing: 0.125rem;
    word-spacing: 0.2rem;
}
/* Score display */
.score {
    font-size: 1.2rem;
    padding: 10px 0;
    transform: translate(0, -30px);
    color: #f8f9fa;
    text-transform: uppercase;
} 


/* Question and Answer Section */
.question {
    letter-spacing: 0.3rem;
}

#answer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* hidden style */
.hidden {
    display: none;
}

/* Modal Style starts here */
/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    background-color: #fefefe;
    color: #000;
    float: right;
    margin-top: -20px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }

  /* Vocab Table Style */
.model-content {
    width: 100%;
}
table,
td {
    text-align: center;
    vertical-align: middle;
    background-color: #e9ecef;
    border: 1px solid #333;
    border-collapse: collapse;
}

thead,
th,
tfoot {
    background-color: #fff; 
    color: #000;
}

tr {
    
    text-align: center;
}
/* Heart style */
i {
    margin-right: 0.3rem;
}

/* Media Query */
@media screen and (max-width: 600px) {
    h1 {
        font-family: Helvetica, sans-serif;
        text-align: center;
        color: white;
        font-size: 1.2rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        word-spacing: 0.2rem;
    }
    
    h2 {
        font-size: 1.2rem;
        color: white;
    }

    h3 {
    font-size: 1rem;
    color: white;
    }
    button {
        font-size: 0.8rem;
        cursor: pointer;
        outline: none;
        border: 1px solid #e9ecef;
        text-decoration: none;
        /* margin-top: 10px; */
        color: #000;
        border-radius: 500px;
        margin-top: 1.5rem;
    }
    .GameArea {
        width: 90%;
        /* height: 90vh; */
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 20px 20px -9px black;
        border-radius: 20px;
        border: 1px solid #f8f9fa;
    }
    input {
        border: 0;
        outline: 0;
        -webkit-outline: 0;
        background: transparent;
        border-bottom: 1px solid #e9ecef;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-border-radius: 0; 
        margin: 0 5px;
        text-align: center;
        line-height: 1.2rem;
        font-size: 1.4rem;
        color: #e9ecef;
        width: 1.5rem;
        transition: all .2s ease-in-out;
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
         box-sizing:        border-box;
    }
    i {
        margin-right: 0.2rem;
    }
    .life {
        margin-bottom: 0.8rem;
    }
    .start {
        margin-top: 0.5rem;
    }
}